name: Update Rules

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

permissions:
  contents: write
  actions: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: "Asia/Shanghai"
      SING_BOX_VERSION: 1.12.14

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Download
        run: |
          bash Source/build.sh   

      - name: Process
        run: |
          python Source/build.py
          curl -fsSL -o sing-box.tar.gz "https://github.com/SagerNet/sing-box/releases/download/v${SING_BOX_VERSION}/sing-box-${SING_BOX_VERSION}-linux-amd64.tar.gz"
          tar -xzf sing-box.tar.gz
          chmod +x "sing-box-${SING_BOX_VERSION}-linux-amd64/sing-box"
          sudo mv "sing-box-${SING_BOX_VERSION}-linux-amd64/sing-box" /usr/local/bin/sing-box
          sing-box version
          for file in sing-box/rule/*.json; do
            [ ! -f "$file" ] && echo "$file not found." && continue
            sing-box rule-set compile "$file" -o "${file%.json}.srs"
          done
          rm -rf sing-box-${SING_BOX_VERSION}-linux-amd64 sing-box.tar.gz

      - name: Push Update
        run: |
          if [[ -n $(git status -s) ]]; then
            git config --local user.name "actions"
            git config --local user.email "action@github.com"
            git add .
            git commit -m "$(TZ='Asia/Shanghai' date +'%Y-%m-%d %H:%M:%S')"
            git push origin HEAD
          else
            echo "No changes to commit."
          fi

      - name: Cleanup Workflow
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 2